---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="만든사람 소개"
	pubDate={new Date('July 14 2026')}
	heroImage={AboutHeroImage}
>
	<p>안녕하세요, SionJi입니다.</p>

	<p>
		Contact: Discord Sionji_
	</p>
</Layout>
